/* Created variables */
:root {
  --primary-color: rgb(252, 159, 175);
  --secondary-color: #dfaf57;
  --background-color: rgb(43, 43, 43);
  --secondary-background: rgb(61, 54, 54);
}

body {
  background: var(--background-color);
  font-family: "Krub", sans-serif;
  padding-bottom: 200px;
  color: white;
}

/* Navigation Bar */
.fa-code {
  color: var(--primary-color);
}
.navbar {
  padding: 20px 0px 0px 0px;
  margin: 15px;
  background: var(--background-color);
}
.navbar-nav {
  margin-left: auto;
}
.nav-item {
  margin: 0 20px;
}

/* Header and arrow icons */
.homepage-header {
  font-size: 86px;
  margin: 150px 0px 40px 0px;
  padding-top: 100px;
  text-align: center;
  font-family: "Bungee Shade", cursive;
}
/* h1:hover {
  color: var(--secondary-color);
  transition: 1s color ease-out;
} */
.fa-angle-down {
  text-align: center;
  width: 100%;
  color: var(--primary-color);
  margin: 8px auto;
}

/* My name is and links */
.link-page {
  margin: 200px 100px 80px 100px;
  background: var(--secondary-background);
  padding: 0px 0px 80px 0px;
  border-radius: 6px;
}
.name-h2 {
  padding: 50px 0px 0px 50px;
  font-size: 50px !important;
}
h2 {
  font-family: "Bungee Hairline", cursive;
  font-size: 80px;
}
.name {
  color: var(--primary-color);
  text-align: center;
  font-size: 80px;
}
.links {
  text-align: center;
}
.link-button {
  font-family: "Bungee Shade", cursive;
  font-size: 24px;
  background: var(--background-color);
  color: white;
  padding: 15px;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.5s background-color;
}
.link-button:hover {
  background-color: rgb(214, 158, 158);
  color: var(--background-color);
  transition: 0.5s background-color;
}
.col-sm-4 {
  padding: 11px;
}

/* About and Project pages */
img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
#react-weather {
  width: 300%;
}
#about {
  font-size: 15px;
}

.containers {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  align-items: center;
  padding-left: 250px;
}
.images {
  align-items: flex;
}

h3 {
  font-family: "Bungee Hairline", cursive;
}
.page-header {
  margin: 180px 0 80px;
  text-align: center;
}
.content {
  background: var(--secondary-background);
  border-radius: 4px;
  line-height: 2;
  padding: 50px;
  text-align: center;
  margin: 0 0 48px;
}

.project-links {
  color: white;
  text-decoration: none;
}

.project-links:hover {
  color: var(--primary-color);
}

/* Contact Footer */
#contact {
  margin-top: 80px;
}

.contact-info {
  margin-top: 30px;
}

.social-links a {
  font-size: 20px;
  padding-left: 0;
  margin: 0 20px;
  color: white;
}

.social-links a:hover {
  color: var(--primary-color);
}

/* Border */
#top,
#bottom,
#left,
#right {
  background: #ffffff;
  position: fixed;
}
#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 15px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}

/* Media query for medium screen */
@media (max-width: 768px) {
  .page-header {
    margin: 100px 0 30px;
    padding: 0px;
  }
  .homepage-header {
    font-size: 80px;
  }
  .name-h3 {
    font-size: 52px;
    text-align: center;
    padding: 40px 0px;
  }
  .name {
    font-size: 76px;
  }

  #left,
  #right {
    width: 10px;
  }
  #top,
  #bottom {
    height: 10px;
  }

  /* Media query for small screen */
  @media (max-width: 576px) {
    .homepage-header {
      font-size: 45px;
      margin-top: 30px;
    }
    .link-page {
      margin: 100px 30px;
      padding-bottom: 50px;
    }
    .name-h3 {
      font-size: 30px;
      text-align: center;
    }
    .name {
      font-size: 50px;
    }

    #left,
    #right {
      width: 5px;
    }
    #top,
    #bottom {
      height: 5px;
    }
  }
}
